<div>
    <div>
        <select>
            <option value="">{{item.catalog_number}}</option>
        </select>
    </div>
      <div class="container">
      <LABEL FOR="MON">Monday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="MON" Value="M" checked>
      <LABEL FOR="TUES">Tuesday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="TUES" Value="T" checked>
      <LABEL FOR="WED">Wednesday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="WED" Value="W" checked>
      <LABEL FOR="THUR">Thursday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="THUR" Value="Th" checked>
      <LABEL FOR="FRI">Friday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="FRI" Value="F" checked>
      <LABEL FOR="SAT">Saturday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="SAT" Value="Sa" checked>
      <LABEL FOR="SUN">Sunday</LABEL>
      <INPUT TYPE="Checkbox" Name="Days[]" ID="SUN" Value="S" checked>
  </div>
</div>