<section>
   <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4>{{item.subject}} - {{item.catalog_number}} ({{item.title}}): {{item.units}} units
          </h4>
          <h5><b>{{item.term}}</b></h5>
          <p>
            {{item.description}}
          </p>
           <p *ngIf="item.instructors.length > 0" >
             <strong >Instructor: </strong> {{item.instructors[0].instructor}}
          </p>
          <p *ngIf="item.meetings[0].days" >
            <strong>Meeting days: </strong>{{item.meetings[0].days}}
          </p>
        </div>
      </div>
    </div>
</section>