<form #myForm="ngForm" (ngSubmit) = "searchClass()">
<div class="form-group">
 <!-- Goes all the way back to 2013 and includes summer classes. -->
  <label for="term">Term: </label>
    <select id="term"
          required
          [(ngModel)]="model.term" name="term">
        <option *ngFor="let t of terms" [value]="t">{{t}}</option>
    </select>
</div>

<div class="form-group">
  <label for="searchStr">Search: </label>
    <input required type="text" name="searchStr"[(ngModel)]="searchStr" (keyup.enter)="searchClass()" class="form-control" placeholder="Search by class (e.g biol or biol-110)">
  </div>

    <div class="form-group">
    <button type="submit" >Search Class</button>
  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h4><a routerLink="/classes/{{res.course_id}}">{{res.subject}} - {{res.catalog_number}} ({{res.title}}): {{res.units}} units</a>
          </h4>
          <h5><b>{{res.term}}</b></h5>
          <p>
            {{res.description}}
          </p>
           <p>
             <strong>Instructor: </strong> {{res.instructors[0].instructor}}
          </p>
          <p>
            <strong>Meeting days: </strong>{{res.meetings[0].days}}
          </p>
        </div>

      </div>

    </div>

  </div>

</div>
