<form #myForm="ngForm" (ngSubmit) = "searchClass()">

<div class="form-group">
 <!-- Goes all the way back to 2013 and includes summer classes. -->
  <label for="term" class="col-sm-2">Term </label>
  <div class="col-sm-10">
    <select id="term" required [(ngModel)]="model.term" name="term">
        <option *ngFor="let t of terms" [value]="t">{{t}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="searchStr" class="col-sm-2">Search </label>
  <div class="col-sm-10">
    <input required type="text" name="searchStr"[(ngModel)]="searchStr" (keyup.enter)="searchClass()" class="form-control" placeholder="Search by class (e.g biol or biol-110)">
  </div>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10" >
    <button type="submit" >Search Class</button>
  </div>
  </div>
</form>
<div *ngIf="searchStr">
  <div  *ngFor="let res of searchRes" (click)="showClass(res); searchStr='';" >
    <class  class="content" [item] = res></class>

    </div>
  </div>
 <classDetails *ngIf="currentClass" [item]="currentClass"></classDetails>
